# Automação Web e Busca de Informações com Python

#### Desafio: 

Trabalhamos em uma importadora e o preço dos nossos produtos é vinculado a cotação de:
- Dólar
- Euro
- Ouro

Precisamos pegar na internet, de forma automática, a cotação desses 3 itens e saber quanto devemos cobrar pelos nossos produtos, considerando uma margem de contribuição que temos na nossa base de dados.

Base de Dados: https://drive.google.com/drive/folders/1KmAdo593nD8J9QBaZxPOG1yxHZua4Rtv?usp=sharing

Para isso, vamos criar uma automação web:

- Usaremos o selenium
- Importante: baixar o webdriver

In [23]:
from selenium import webdriver # CRIAR O NAVEGADOR
from selenium.webdriver.common.by import By # LOCALIZAR ELEMENTOS 
from selenium.webdriver.common.keys import Keys # PERMITE CLICAR TECLAS 

navegador = webdriver.Chrome()
# PASSO 1 ENTRAR NO GOOGLE
navegador.get('https://www.google.com/')
# PASSO 2 PESQUISAR A COTAÇÃO DO DÓLAR
navegador.find_element(By.XPATH, '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys("cotação dolar")
navegador.find_element(By.XPATH, '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys(Keys.ENTER)

# PASSO 3 PEGAR A COTAÇÃ DO DOLAR
cotacao_dolar = navegador.find_element(By.XPATH, '//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute("data-value")
print(cotacao_dolar)
navegador.get('https://www.google.com/')
# PASSO 2 PESQUISAR A COTAÇÃO DO EURO
navegador.find_element(By.XPATH, '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys("cotação euro")
navegador.find_element(By.XPATH, '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys(Keys.ENTER)

cotacao_euro = navegador.find_element(By.XPATH, '//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute("data-value")

print(cotacao_euro)
# PASSO 5 PEGAR A COTAÇÃO DO OURO
navegador.get('https://www.melhorcambio.com/ouro-hoje')
cotacao_ouro = navegador.find_element(By.XPATH, '//*[@id="comercial"]').get_attribute('value')
print(cotacao_ouro)

5.0918
5.310039639
297,10

In [24]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\joaod\anaconda3\lib\site-packages (4.1.5)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\joaod\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\users\joaod\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: trio~=0.17 in c:\users\joaod\anaconda3\lib\site-packages (from selenium) (0.20.0)
Requirement already satisfied: idna in c:\users\joaod\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: attrs>=19.2.0 in c:\users\joaod\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: outcome in c:\users\joaod\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: sniffio in c:\users\joaod\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\users\joaod\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\joaod\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: cffi>=1.14 in c:\users\joaod\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: pycparser in c:\users\joaod\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\joaod\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\joaod\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (21.0.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\joaod\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.8)
Requirement already satisfied: certifi in c:\users\joaod\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2021.10.8)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\joaod\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: six>=1.5.2 in c:\users\joaod\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.16.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\joaod\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

### Agora vamos atualiza a nossa base de preços com as novas cotações

- Importando a base de dados

In [25]:
# PASSO 6 ATUALIZAR A MINHA BASE DE DADOS COM AS NOVAS COTAÇÕES
import pandas as pd
tabela = pd.read_excel("Produtos.xlsx")
display(tabela)

,Produtos,Preço Original,Moeda,Cotação,Preço de Compra,Margem,Preço de Venda
0,Câmera Canon,999.99,Dólar,5,4999.95,1.40,6999.930
1,Carro Renault,4500.00,Euro,6,27000.00,2.00,54000.000
2,Notebook Dell,899.99,Dólar,5,4499.95,1.70,7649.915
3,IPhone,799.00,Dólar,5,3995.00,1.70,6791.500
4,Carro Fiat,3000.00,Euro,6,18000.00,1.90,34200.000
5,Celular Xiaomi,480.48,Dólar,5,2402.40,2.00,4804.800
6,Joia 20g,20.00,Ouro,350,7000.00,1.15,8050.000

- Atualizando os preços e o cálculo do Preço Final

In [26]:
# ATUALIZAR A COTACAO DE ACORDO COM A MOEDA CORRESPONDENTE
# AS LINHAS AONDE A COLUNA "MOEDA" = "DOLAR"
# DOLAR
tabela.loc[tabela["Moeda"] == "Dólar", 'Cotação'] = float(cotacao_dolar)

# EURO
tabela.loc[tabela["Moeda"] == "Euro", 'Cotação'] = float(cotacao_euro)

# OURO
tabela.loc[tabela["Moeda"] == "Ouro", 'Cotação'] = float(cotacao_ouro.replace(",", "."))
# MOSTRAR
display(tabela)
# ATUALIZAR PRECO DE COMPRA = PRECO ORIGINAL * COTACAO
tabela["Preço de Compra"] = tabela["Preço Original"] * tabela["Cotação"]

# ATUALIZAR PRECO DE VENDA = PRECO DE COMPRA * MARGEM
tabela["Preço de Venda"] = tabela["Preço de Compra"] * tabela["Margem"]

display(tabela)

,Produtos,Preço Original,Moeda,Cotação,Preço de Compra,Margem,Preço de Venda
0,Câmera Canon,999.99,Dólar,5.09180,4999.95,1.40,6999.930
1,Carro Renault,4500.00,Euro,5.31004,27000.00,2.00,54000.000
2,Notebook Dell,899.99,Dólar,5.09180,4499.95,1.70,7649.915
3,IPhone,799.00,Dólar,5.09180,3995.00,1.70,6791.500
4,Carro Fiat,3000.00,Euro,5.31004,18000.00,1.90,34200.000
5,Celular Xiaomi,480.48,Dólar,5.09180,2402.40,2.00,4804.800
6,Joia 20g,20.00,Ouro,297.10000,7000.00,1.15,8050.000

,Produtos,Preço Original,Moeda,Cotação,Preço de Compra,Margem,Preço de Venda
0,Câmera Canon,999.99,Dólar,5.09180,5091.749082,1.40,7128.448715
1,Carro Renault,4500.00,Euro,5.31004,23895.178375,2.00,47790.356751
2,Notebook Dell,899.99,Dólar,5.09180,4582.569082,1.70,7790.367439
3,IPhone,799.00,Dólar,5.09180,4068.348200,1.70,6916.191940
4,Carro Fiat,3000.00,Euro,5.31004,15930.118917,1.90,30267.225942
5,Celular Xiaomi,480.48,Dólar,5.09180,2446.508064,2.00,4893.016128
6,Joia 20g,20.00,Ouro,297.10000,5942.000000,1.15,6833.300000

### Agora vamos exportar a nova base de preços atualizada

In [27]:
tabela.to_excel("Produtos_novos.xlsx", index=False)
navegador.quit()